.header {
  margin: 3em 0em;
  text-transform: 'uppercase';
  font-size: '2em';
}

.header a {
  color: #D9FE96;
}

.divider {
  margin: 3em 0em;
}

.summary {
  font-size: 1.13em;
}

.segment {
  border-bottom: 0em !important;
  padding: 8em 0em;
}